@model FanBento.Database.Models.Post

@{
    ViewData["Title"] = $"{Model.Title} - ${Model.User.Name}";
}

<article>
    @if (Model.CoverImageUrl != null)
    {
        <div class="cover-image">
            <img src="@Model.CoverImageUrl" alt="Cover Image"/>
        </div>
    }

    <h1>@Model.Title</h1>

    <div class="info">
        <span class="user">@Model.User.Name</span>
        <span class="divider">・</span>
        <span class="published-datetime">@Model.PublishedDatetime.ToLongDateString() @Model.PublishedDatetime.ToLongTimeString()</span>
        <span class="divider">・</span>
        <span class="fee">@Model.FeeRequired</span>
    </div>

    <div class="content">
        @if (Model.Body.Blocks != null && Model.Body.Blocks.Count > 0)
        {
            @foreach (var block in Model.Body.Blocks)
            {
                @if (block.Type == "p")
                {
                    <p style="@string.Join("", block.Styles?.Select(t => t.Type == "bold" ? "font-weight: bold;" : "") ?? new List<string>())">
                        @block.Text
                        @if (block.Links is { Count: > 0 })
                        {
                            foreach (var link in block.Links)
                            {
                                <a href="@link.Url">@block.Text.Substring(link.Offset, link.Length)</a>
                            }
                        }
                    </p>
                }

                @if (block.Type == "header")
                {
                    <h3>@block.Text</h3>
                }

                @if (block.Type == "image")
                {
                    <img src="@ViewBag.UrlPrefix/imgs/@($"{Model.Body.ImageMap[block.ImageId].Id}.{Model.Body.ImageMap[block.ImageId].Extension}")"/>
                }

                @if (block.Type == "file")
                {
                    @if (Model.Body.FileMap[block.FileId].Extension == "mp4")
                    {
                        <video controls src="@ViewBag.UrlPrefix/files/@($"{Model.Body.FileMap[block.FileId].Id}.{Model.Body.FileMap[block.FileId].Extension}")" preload="metadata"></video>
                    }
                    else
                    {
                        <a href="@ViewBag.UrlPrefix/files/@($"{Model.Body.FileMap[block.FileId].Id}.{Model.Body.FileMap[block.FileId].Extension}")">
                            @(Model.Body.FileMap[block.FileId].Name).@(Model.Body.FileMap[block.FileId].Extension)
                        </a>
                    }
                }

                @if (block.Type == "embed")
                {
                    @if (Model.Body.EmbedMap[block.EmbedId].ServiceProvider == "youtube")
                    {
                        <iframe src="https://www.youtube.com/embed/@Model.Body.EmbedMap[block.EmbedId].ContentId" allowfullscreen="" class="video youtube"></iframe>
                    }
                }

                @if (block.Type == "url_embed")
                {
                    @if (Model.Body.UrlEmbedMap[block.UrlEmbedId].Url != null)
                    {
                        <a href="@Model.Body.UrlEmbedMap[block.UrlEmbedId].Url">
                            @(Model.Body.UrlEmbedMap[block.UrlEmbedId].Url)
                        </a>
                    }

                    @if (Model.Body.UrlEmbedMap[block.UrlEmbedId].Html != null)
                    {
                        @Html.Raw(Model.Body.UrlEmbedMap[block.UrlEmbedId].Html)
                    }
                }
            }
        }
        @if (Model.Body.Images != null && Model.Body.Images.Count > 0)
        {
            @foreach (var image in Model.Body.Images)
            {
                <img src="@ViewBag.UrlPrefix/imgs/@($"{image.Id}.{image.Extension}")"/>
            }

            <div>@Html.Raw(Model.Body.Text)</div>
        }
        @if (Model.Body.Files != null && Model.Body.Files.Count > 0)
        {
            @foreach (var file in Model.Body.Files)
            {
                <a href="@ViewBag.UrlPrefix/files/@($"{file.Id}.{file.Extension}")">
                    @(file.Name).@(file.Extension)
                </a>
            }

            <div>@Html.Raw(Model.Body.Text)</div>
        }
    </div>
</article>